

{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<!-- iglesias -->
<section id="services">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Iglesias</h2>
            <h3 class="section-subheading text-muted">Estas son algunas de nuestras iglesias</h3>
         </div>
      </div>
      <div class="row text-center">

         {% for iglesia in iglesias %}

         <div class="col-md-4">
            <span>
            <img id="imgIglesia" src="{{iglesia.imagen.url}}" alt="">
            </span>
            <h4 class="service-heading">{{iglesia.nombre}}</h4>
         </div>
         {% endfor %}
          <hr>

         {% if user.is_authenticated %}

          <a id="verIglesias" class="btn btn-success" href="{% url 'iglesia:iglesia' %}">Ver mas Iglesias</a>

         {% endif %}

      </div>
   </div>
</section>
<!-- actividades -->
<section class="bg-light" id="portfolio">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Actividades</h2>
             <h3 class="section-subheading text-muted">Nuestras actividades mas recientes</h3>
         </div>
      </div>
      <div class="row">
         {% for actividad in actividades %}
         <!-- Modal 1 -->
         <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal">
                     <div class="lr">
                        <div class="rl"></div>
                     </div>
                  </div>
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-8 mx-auto">
                           <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2 class="text-uppercase">{{actividad.titulo}}</h2>
                              <hr>
                              <img class="img-fluid d-block mx-auto" src="{{actividad.imagen.url}}" alt="">
                              <p>Descripcion: {{actividad.descripcion}}</p>
                              <ul class="list-inline">
                                 <li>Fecha: {{actividad.fecha}}</li>
                                 <li>Lugar: {{actividad.ubicacion}}</li>
                                 <li>Iglesia encargada: {{actividad.iglesia.nombre}}</li>
                              </ul>
                              <button class="btn btn-primary" data-dismiss="modal" type="button">
                              <i class="fa fa-times"></i>
                              Cancelar</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ forloop.counter }}">
               <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                     <i class="fa fa-plus fa-3x"></i>
                  </div>
               </div>
               <img class="img-fluid" src="{{actividad.imagen.url}}" alt="">
            </a>
            <div class="portfolio-caption">
               <h4>{{ actividad.titulo }}</h4>
            </div>
         </div>
         {% endfor %}

          {% if user.is_authenticated %}

            <a id="verMasAc" class="btn btn-success" href="{% url 'actividad:blog_actividad' %}">Ver mas actividades</a>

          {% endif %}

      </div>
   </div>
</section>
<!-- peticiones -->
<section id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Peticiones</h2>
            <h3 class="section-subheading text-muted">Pedid y se os dará, conoce las peticiones de nuestros miembros</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <ul class="timeline">
               {% for peticion in peticiones %}
               {% if peticion.id|divisibleby:"2" %}
               <li>
                  {% else %}
               <li class="timeline-inverted">
                  {% endif %}
                  <a href="" data-toggle="modal">
                     <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'images/orar.jpg' %}" alt="ImagenPeticion" style="height: 100%;">
                     </div>
                  </a>
                  <div class="timeline-panel">
                     <div class="timeline-heading">
                        <h4>{{ peticion.titulo }}</h4>
                        <h4 class="subheading">{{ peticion.fecha }}</h4>
                     </div>
                     <div class="timeline-body">
                        <p class="text-muted">{{ peticion.descripcion }}</p>
                        <p class="text-muted">contador de personas orando</p>
                     </div>
                  </div>
               </li>
               {% endfor %}

                {% if user.is_authenticated %}

                   <li class="timeline-inverted">
                      <div class="timeline-image">
                         <a href="{% url 'peticion:blog_peticion' %}" style="color: white;">
                            <h4>Ver mas
                               <br>Peticiones
                            </h4>
                         </a>
                      </div>
                   </li>

                {% endif %}

            </ul>
         </div>
      </div>
   </div>
</section>
<!-- Team -->
<section class="bg-light" id="team">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nuestros Lideres</h2>
            <h3 class="section-subheading text-muted">Estas son algunas de las personas que nos representan a nivel general</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            <div class="team-member">
               <img class="mx-auto rounded-circle" src="{% static 'generico/img/team/1.jpg' %}" alt="">
               <h4>Juan Caicedo Solis</h4>
               <p class="text-muted">Presidente de la Union Colombiana del Sur</p>
               <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-twitter"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-facebook"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-linkedin"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="team-member">
               <img class="mx-auto rounded-circle" src="{% static 'generico/img/team/2.jpg' %}" alt="">
               <h4>Walter Rojas</h4>
               <p class="text-muted">Presidente de la Asociacion del Pacifico</p>
               <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-twitter"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-facebook"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-linkedin"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="team-member">
               <img class="mx-auto rounded-circle" src="{% static 'generico/img/team/3.jpg' %}" alt="">
               <h4>Oscar Velasquez</h4>
               <p class="text-muted">Pastor del Distrito</p>
               <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-twitter"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-facebook"></i>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                     <i class="fa fa-linkedin"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
         </div>
      </div>
   </div>
</section>

<!-- logos >
<section class="py-5">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <a href="#">
            <img class="img-fluid d-block mx-auto" src="{% static 'generico/img/logos/envato.jpg' %}" alt="">
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
            <img class="img-fluid d-block mx-auto" src="{% static 'generico/img/logos/designmodo.jpg' %}" alt="">
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
            <img class="img-fluid d-block mx-auto" src="{% static 'generico/img/logos/themeforest.jpg' %}" alt="">
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
            <img class="img-fluid d-block mx-auto" src="{% static 'generico/img/logos/creative-market.jpg' %}" alt="">
            </a>
         </div>
      </div>
   </div>
</section> -->


<!-- Contacto -->
<section id="contact">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contactanos</h2>
            <h3 class="section-subheading text-muted">Escribenos y con gusto te atenderemos</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Escriba su nombre *" required="required" data-validation-required-message="Por favor ingrese su nombre.">
                        <p class="help-block text-danger"></p>
                     </div>
                     <div class="form-group">
                        <input class="form-control" id="email" type="email" placeholder="Escriba su correo *" required="required" data-validation-required-message="Por favor ingrese su correo.">
                        <p class="help-block text-danger"></p>
                     </div>
                     <div class="form-group">
                        <input class="form-control" id="phone" type="tel" placeholder="Escriba su numero celular *" required="required" data-validation-required-message="Por favor ingrese su numero.">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <textarea class="form-control" id="message" placeholder="Escriba su mensaje *" required="required" data-validation-required-message="Por favor escriba un mensaje."></textarea>
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                     <div id="success"></div>
                     <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensaje</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>


{% endblock %}

